<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}KVS Sports Academy{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<body>
<header> 
        <div class="heading">
            <div id="log-img">
                <img src="{{ url_for('static', filename='kvslogo.png') }}" alt="KVS Sports Academy Logo" />
            </div>
            <div class="menu-btn" id="menu-btn">
                <i class="ri-menu-line"></i>
            </div>
            <div class="title">
                <h1>Welcome to KVS Kabaddi Academy</h1>
            </div>  
            <div class="nav-link">
                <nav>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('about') }}">About Us</a>
                <a href="{{ url_for('sports') }}">Sports</a>
                <a href="{{ url_for('admission') }}">Admission</a>
                <a href="{{ url_for('achievements') }}">Achievements</a>
                <a href="{{ url_for('contact') }}">Contact Us</a>
                <a href="{{ url_for('dashboard') }}">Dashboard</a> 
                <a href="{{ url_for('registration') }}">Register</a> 
                <!-- <a href="{{ url_for('login') }}">Login</a> -->
            </nav>
                
            </div>
        </div>

        <div class="mobile-menu" id="mobile-menu">
            <div class="close-btn" id="close-btn">
                <i class="ri-close-line"></i>
            </div>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('registration') }}">Register</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('sports') }}">Sports</a></li>
                <li><a href="{{ url_for('admission') }}">Admission</a></li>
                <li><a href="{{ url_for('achievements') }}">Achievements</a></li>
                <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            </ul>
        </div>
</header>


<main>
    {% block content %}{% endblock %}
</main>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
